In [34]:
def primes(n):
    r = [True] * n
    r[0] = r[1] = False 
    r[4::2] = [False] * len(r[4::2])
    for i in range(3,int(1 + n**0.5),2):
        if r[i]:
            r[i*i::2*i] = [False] * len(r[i*i::2*i])
    return r

prime_list = primes(10**6)
prime_list = [i for i,x in enumerate(prime_list) if x]

def is_prime(n):
    i, p = 0, 2
    while True:
        if n%p==0:
            return False
        if p*p>=n:
            break
        i += 1
        p = prime_list[i]
    return True

In [101]:
pots = []
for i1 in range(0,41):
    for i2 in range(0,27):
        for i3 in range(0,19):
            pots.extend([2**i1*3**i2*5**i3])
pots = [a for a in pots if a<=10**12]
pots = sorted(pots)
len(pots), pots[:10]

(3429, [1, 2, 3, 4, 5, 6, 8, 9, 10, 12])

In [115]:
adds = [1]
for i in pots:
    if is_prime(i+1):
        adds.extend([i+1])
adds[:10]

[1, 3, 5, 7, 11, 13, 17, 19, 31, 37]

In [106]:
243%5

3

In [116]:
B = adds + [a*b for a in adds for b in adds if a!=b and a*b <= 10**12]
B = sorted(list(set(B)))
# B[:100]
C = B + [a*b for a in B for b in adds if a%b!=0 and a*b <= 10**12]

In [117]:
D = C.copy()
for c in C:
    for a in adds:
        n = a*c
        if n>10**12:
            break
        elif c%a!=0:
            D.extend([n])
D = sorted(list(set(D)))
len(D)

1446943

In [118]:
E = D.copy()
for d in D:
    for a in adds:
        n = a*d
        if n>10**12:
            break
        elif d%a!=0:
            E.extend([n])
E = sorted(list(set(E)))
len(E)

3559330

In [119]:
F = E.copy()
for d in E:
    for a in adds:
        n = a*d
        if n>10**12:
            break
        elif d%a!=0:
            F.extend([n])
F = sorted(list(set(F)))
len(F) # 857636

5412598

In [100]:
F[:20]

[3, 5, 7, 11, 13, 15, 17, 19, 21, 31, 33, 35, 37, 39, 41, 51, 55, 57, 61, 65]

In [120]:
G = F.copy()
for d in F:
    for a in adds:
        n = a*d
        if n>10**12:
            break
        elif d%a!=0:
            G.extend([n])
G = sorted(list(set(G)))
len(G) # 857636

6174931

In [ ]:
all = []
for p in [1] + pots:
    for g in G:
        n = p*g
        if n>10**12:
            break
        elif g%p!=0:
            all.extend([n])
all = sorted(list(set(all)))
sum(all)%(2**32)

In [ ]:
sum([g for g in all if g<=10**2])

In [99]:
sum(all)%(2**32)
sorted(all)

[6,
 10,
 12,
 14,
 15,
 18,
 20,
 21,
 22,
 24,
 26,
 27,
 28,
 30,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 48,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 60,
 62,
 63,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 81,
 82,
 84,
 85,
 88,
 90,
 93,
 95,
 96,
 99,
 100]

In [85]:
G[:100]

[3,
 5,
 7,
 11,
 13,
 15,
 17,
 19,
 21,
 31,
 33,
 35,
 37,
 39,
 41,
 51,
 55,
 57,
 61,
 65,
 73,
 77,
 85,
 91,
 93,
 95,
 97,
 101,
 105,
 109,
 111,
 119,
 123,
 133,
 143,
 151,
 155,
 163,
 165,
 181,
 183,
 185,
 187,
 193,
 195,
 205,
 209,
 217,
 219,
 221,
 231,
 241,
 247,
 251,
 255,
 257,
 259,
 271,
 273,
 285,
 287,
 291,
 303,
 305,
 323,
 327,
 341,
 357,
 365,
 385,
 399,
 401,
 403,
 407,
 427,
 429,
 433,
 451,
 453,
 455,
 465,
 481,
 485,
 487,
 489,
 505,
 511,
 527,
 533,
 541,
 543,
 545,
 555,
 561,
 577,
 579,
 589,
 595,
 601,
 615]

In [71]:
len(C)# 1654038
D = [a*b for a in C for b in adds if a%b!=0 and a*b <= 10**12]
len(D)

KeyboardInterrupt:

In [37]:
sum(adds) + sum(pots)

1774

In [38]:
364709307356693%(2**32)

2159416853

In [45]:
max(adds)

967458816001

In [46]:
max([a for a in adds if a<=10**10])

9600000001

In [60]:
all = []
for i1 in range(0,41):
    for i2 in range(0,27):
        for i3 in range(0,19):
            for p in [1] + adds:
                n = 2**i1*3**i2*5**i3*p
                if n<=10**2:
                    if p == 9600000001:
                        print(n)
                    all.extend([n])
all = sorted(list(set(all)))
(sum(all)+1)%(2**32)

3561

In [64]:
sorted(adds)[:50]

[3,
 5,
 7,
 11,
 13,
 17,
 19,
 31,
 37,
 41,
 61,
 73,
 97,
 101,
 109,
 151,
 163,
 181,
 193,
 241,
 251,
 257,
 271,
 401,
 433,
 487,
 541,
 577,
 601,
 641,
 751,
 769,
 811,
 1153,
 1201,
 1297,
 1459,
 1601,
 1621,
 1801,
 2161,
 2251,
 2593,
 2917,
 3001,
 3457,
 3889,
 4001,
 4051,
 4801]

In [62]:
from math import gcd

def phi(n):
    amount = 0        
    for k in range(1, n + 1):
        if gcd(n, k) == 1:
            amount += 1
    return amount

for i in range(101):
    print(i, phi(i), i in all)

0 0 False
1 1 True
2 1 True
3 2 True
4 2 True
5 4 True
6 2 True
7 6 True
8 4 True
9 6 True
10 4 True
11 10 True
12 4 True
13 12 True
14 6 True
15 8 True
16 8 True
17 16 True
18 6 True
19 18 True
20 8 True
21 12 True
22 10 True
23 22 False
24 8 True
25 20 True
26 12 True
27 18 True
28 12 True
29 28 False
30 8 True
31 30 True
32 16 True
33 20 True
34 16 True
35 24 True
36 12 True
37 36 True
38 18 True
39 24 True
40 16 True
41 40 True
42 12 True
43 42 False
44 20 True
45 24 True
46 22 False
47 46 False
48 16 True
49 42 False
50 20 True
51 32 True
52 24 True
53 52 False
54 18 True
55 40 True
56 24 True
57 36 True
58 28 False
59 58 False
60 16 True
61 60 True
62 30 True
63 36 True
64 32 True
65 48 True
66 20 True
67 66 False
68 32 True
69 44 False
70 24 True
71 70 False
72 24 True
73 72 True
74 36 True
75 40 True
76 36 True
77 60 False
78 24 True
79 78 False
80 32 True
81 54 True
82 40 True
83 82 False
84 24 True
85 64 True
86 42 False
87 56 False
88 40 True
89 88 False
90 24 True
91 72 False
92 44 False
93 60 True
94 46 False
95 72 True
96 32 True
97 96 True
98 42 False
99 60 True
100 40 True

In [54]:
A = [2,5,3]
[1] + A

[1, 2, 5, 3]